body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.vacancy {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #888;
    margin-left: 20%;
    margin-right: 20%;
}

.vacancy h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.vacancy p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #666;
}

.vacancy p.requirements {
    font-weight: bold;
}

.vacancy p.created-by {
    font-style: italic;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 20px;
}