{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_resume.css' %}">
{% endblock %}

{% block content %}
  <h2>Создать резюме</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
  </form>
{% endblock %}

{% block footer %}
<script type="text/javascript">
var label = document.querySelector("label[for='id_city']");

label.style.visibility = "hidden"
function get_city() {
    var region = document.getElementById("id_region");
    var city = document.getElementById("id_city");
    if (region.value.trim() !== '') {
        city.classList.remove("hidden");
        label.style.visibility = "visible";

    } else {
        city.classList.add("hidden");
        label.style.visibility = "hidden"
    }
}
</script>
{% endblock %}