{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <div class="resumes">
        <h1>Резюме</h1>
        {% for resume in resumes %}
        <div class="resume">
            <h3><a href="https://hh.ru{{ resume.title_url }}">{{ resume.title }}</a></h3>
            {% if resume.age != 0 %}
                <p class="age">{{ resume.age }}</p>
            {% endif %}
            <p class="salary">{{ resume.salary }}</p>
            <p class="resume_status">{{ resume.resume_status }}</p>
            {% if resume.excpirience_sum != 0 %}
                <p class="excpirience_sum">Опыт работы: {{ resume.excpirience_sum }}</p>
            {% endif %}
            {% if resume.last_experience_link != 0 %}
                <p class="last_experience_link">Последнее место работы: {{ resume.last_experience_link }}</p>
            {% endif %}
            <p class="last_update">Обновлено: {{ resume.last_update }}</p>
        </div>
        {% empty %}
        <p>No resumes available</p>
        {% endfor %}
    </div>
    <div class="filters">
        <h1>Условия поиска</h1>
        <div class="filter">
            <form>
                <h3>Регион</h3>
                <div class="areas">
                    <div class="regions">
                        <label><input type="checkbox" name="area" value="{{ areas.current.id }}" checked>{{ areas.current.name }}</label>
                        {% for area in areas.all %}
                            <label><input type="checkbox" name="area" value="{{ area.id }}">{{ area.name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <h3>Пол</h3>
                <div class="gender">
                    <label><input type="radio" name="gender" value="male">Мужской</label>
                    <label><input type="radio" name="gender" value="female">Женский</label>
                    <label><input type="radio" name="gender" value="unknown">Не имеет значения</label>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="paginator">
    {% if count_pages == 0 %}
    {% else %}
        {% if page|add:0 == 0 %}
            <a>Page {{ page|add:1 }}</a>
            <a href="/resumes/?page={{ page|add:1 }}{{ url }}">Next</a>
        {% elif page|add:1 == count_pages %}
            <a href="/resumes/?page={{ page|add:-1 }}{{ url }}">Previous</a>
            <a>Page {{ page|add:1 }}</a>
        {% else %}
            <a href="/resumes/?page={{ page|add:-1 }}{{ url }}">Previous</a>
            <a>Page {{ page|add:1 }}</a>
            <a href="/resumes/?page={{ page|add:1 }}{{ url }}">Next</a>
        {% endif %}
        <p>Page {{ page|add:1 }} of {{ count_pages }}</p>
    {% endif %}
</div>

<script>
    setCookie("area_" + "{{areas.current.id}}", "area_" + "{{areas.current.id}}");
    setCookie("gender", "{{ gender }}")
    if (window.location.search == "") {
        window.history.replaceState({}, '', `${window.location.pathname}?page={{page}}&area={{areas.current.id}}`);
        update_url();
    } else if (window.location.search == "?"){
        window.history.replaceState({}, '', `${window.location.pathname}?page={{page}}&area={{areas.current.id}}`);
        update_url();
    }
    else {
        update_url();
    }
</script>

{% endblock %}
